*{
    margin: 0;
}

body{
    text-align: left;
    width: 54%;
    margin: auto;
}

header{
    background-color: #4ea0ff;
}

#title{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

#author{
    color: lightgray;
}

#booleaner{
    color: #4ea0ff;
}

#data{
    color: lightgray;
}

#Photo{
    font-size: smaller;
    margin-bottom: 10px;
}

#Abstract{
    margin-bottom: 10px;
}

.text-color{
    background-color: yellow;
}

table{
    background-color: lightblue;
    margin-bottom: 15px;
    text-align: start;
}

th{
    color: white;
}
